:root {
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    height: 100vh;
}

.box {
    background-color: #fff;
    margin: 42% 3%;
    border-radius: 20px;
    padding: 11% 0 5% 0;
    padding-left: 0%;
}

.imagen-desktop {
    display: none;
}

.imagen-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
}

.imagen-mobile__fondo {
    margin-top: 20px;
    position: absolute;
    width: 66%;
}

.imagen-mobile__ilustracion {
    width: 66%;
    margin-top: -112px;

}

.title {
    text-align: center;
    margin-top: 84px;
    width: 100%;
}

.preguntas{
    padding-left: 20px;
}

summary::selection{
    font-weight: bold;
}

.pregunta {
    list-style: none;
    font-size: 12px;
    color: gray;


}

summary {
    display: flex;
}

.pregunta__content{
     display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.pregunta__titulo {
    font-size: 12px;
    font-weight: 100;
}

.pregunta__respuesta{
    margin-right: 52px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (min-width: 1000px){
    .imagen-mobile{
        display: none;
    }
    .imagen-desktop{
        display:flex;
        align-content: start;
        flex-wrap: wrap;
    }

    .imagen-desktop__fondo{
        position: fixed;
        width: 20%;

    }

    .imagen-desktop__box{
        position: fixed;
    }

    .imagen-desktop__ilustracion{
        position: fixed;

    }

    .box{
        margin: 10%;
    }

}